extra/
Pipeline/
*.csv
Data/.ipynb_checkpoints/
AdaIn Style Transfer/pytorch-AdaIN
./CAST Style Transfer/CAST_pytorch/models/vgg_normalised.pth
./CAST Style Transfer/CAST_pytorch/models/style_vgg.pth
./CAST Style Transfer/CAST_pytorch/checkpoints/CAST_model/latest_net_Dec_A.pth
./CAST Style Transfer/CAST_pytorch/checkpoints/CAST_model/latest_net_AE.pth
./CAST Style Transfer/CAST_pytorch/checkpoints/CAST_model/latest_net_Dec_B.pth
./CAST Style Transfer/CAST_pytorch/checkpoints/experiment_name/latest_net_Dec_A.pth
./CAST Style Transfer/CAST_pytorch/checkpoints/experiment_name/latest_net_AE.pth
./CAST Style Transfer/CAST_pytorch/checkpoints/experiment_name/latest_net_Dec_B.pth
./CAST Style Transfer/CAST_pytorch/Images/teaser.png
./CAST Style Transfer/CAST_pytorch/.git/objects/pack/pack-34469981c45a1d6ae5281bec30e364ae299ea33a.pack
./CAST Style Transfer/CAST_model/latest_net_Dec_A.pth
./CAST Style Transfer/CAST_model/latest_net_AE.pth
./CAST Style Transfer/CAST_model/latest_net_Dec_B.pth
./CAST Style Transfer/CAST_model.zip
./extra/coco2017labels-pose.zip
./extra/coco_json/instances_train2017.json
./extra/coco_json/captions_train2017.json
./extra/coco_json/captions_val2017.json
./extra/coco_json/person_keypoints_train2017.json
./extra/coco_json/person_keypoints_val2017.json
./extra/coco_json/instances_val2017.json
./extra/coco2017labels-pose/coco-pose/annotations/person_keypoints_val2017.json
./extra/coco2017labels-pose/coco-pose/annotations/instances_val2017.json
./AdaIn Style Transfer/Unused torch/examples/videoutput/cutBunny-stylized-woman_with_hat_matisse.mp4
./AdaIn Style Transfer/Unused torch/examples/videoutput/cutBunny-stylized-mondrian.mp4
./AdaIn Style Transfer/Pytorch implementation/pytorch-AdaIN/models/vgg_normalised.pth
./AdaIn Style Transfer/Pytorch implementation/pytorch-AdaIN/models/decoder.pth
./AdaIn Style Transfer/Pytorch implementation/pytorch-AdaIN/.git/objects/pack/pack-9e7eb9f9f0e853e4d45915df18625fd9a9c22658.pack
./Universal Style Transfer/PytorchWCT/.git/objects/pack/pack-abd4bd10c6f7b9d9692947625b01b9d3e8c37974.pack
./SEMST Style Transfer/Structure-emphasized-Multimodal-Style-Transfer/result/5_5.png
./SEMST Style Transfer/Structure-emphasized-Multimodal-Style-Transfer/result/5_4.png
./SEMST Style Transfer/Structure-emphasized-Multimodal-Style-Transfer/result/5_2.png
./SEMST Style Transfer/Structure-emphasized-Multimodal-Style-Transfer/result/5_7.png
./SEMST Style Transfer/Structure-emphasized-Multimodal-Style-Transfer/result/5_8.png
./SEMST Style Transfer/Structure-emphasized-Multimodal-Style-Transfer/result/5_6.png
./SEMST Style Transfer/Structure-emphasized-Multimodal-Style-Transfer/.git/objects/pack/pack-4c843206f94d48981e189a169a4af793fbaf823d.pack

